<html>
    <form action="/calc">
    <table>
        <caption>
            <b><i>Interest Calculator</i></b> 
        </caption>
        <tr>
            <td><B>Amount: </B></td>
            <td><input type="text" name = 'amt'></td>
        </tr>
        <tr>
            <td><B>Rate: </B></td>
            <td><input type="text" name = 'rate'></td>
        </tr>
        <tr>
                <td><B>Time: </B></td>
                <td><input type="text" name = 'time'></td>
            </tr>
    </table>
    <input type="submit">
    </form>
{{value}}
</html>