<html>
    <head></head>

    <body>
        <form action="/choice">
            <center>
                <h1><font color = "blue">ADMIN DASHBOARD</font></h1><br><br>
                <h2>Search Customer</h2>
                <input type="submit" name = 'goto' value = "SearchCustomer"><br><br>
                <h2>Show Customer Records</h2>
                <input type="submit" name = 'goto' value = "ShowCustomer"><br><br>
                <h2>Search Employee</h2>
                <input type="submit" name = 'goto' value = "SearchEmployee"><br><br>
                <h2>Show Employee Records</h2>
                <input type="submit" name = 'goto' value = "ShowEmployee"><br><br>
                <h2>Logout</h2>
                <input type="submit" name = 'goto' value = "Base"><br><br>
            </center>
        </form>
    </body>
</html>