<html>
    <head>
        <title>Bank Kiosk</title>
    </head>
     <body>
         <form action="/choice">
             <center>
                 <h1><font>Welcome to Bank Kiosk</font></h1><br>
                 <h3><font>Customer Portal</font></h3><br>
                 <input type="submit" value="customerPortal" name = 'goto'><br><br><br>
                 <h3><font>Employee Portal</font></h3><br>
                 <input type="submit" value="employeePortal" name = 'goto'><br><br><br>
                 <h3><font>Admin Portal</font></h3><br>
                 <input type="submit" value="Admin" name = 'goto'><br><br><br>
             </center>
         </form>
     </body>
</html>