<html>
    <head>
        <title>Bank Locker System</title>
    </head>
    <body>
        <form action="/choice">
            <center>
                <h1><font color = "red">Welcome to Bank Locker System</font></h1><br>
                <h3>Search For Your Record</h3><br>
                <input type="submit" value = "Search" name = "goto"><br><br><br>
                <h3>Register</h3><br>
                <input type="submit" value = "Register" name = "goto">
            </center>
        </form>
    </body>
</html>
