<html>
    <head></head>

    <body>
        <form action="">
            <h2>{{request.session.SES.1}}&nbsp;{{request.session.SES.2}} Picture Date</h2>
            <center>
                <table>
                    <tr>
                        <td valign = 'top'>
                            <a href="#" target="mw">Change Password</a><br>
                            <a href="#" target="mw">Change PIN</a><br>
                            <a href="/remote" target="mw">Keypad</a><br>
                            <a href="#" target="mw">Logout</a>
                            <td>
                                <iframe src="" name="mw" width="600" height="1000" frameborder="0"></iframe>
                            </td>
                        </td>
                    </tr>
                </table>
            </center>
        </form>
    </body>
</html>