<html>
    <head>
        <title>Employee Dashboard</title>
    </head>

    <body>
        <form action="/initiateLockerSession">
            <center>
                <h1><font>Employee Dashboard</font></h1><br><br>
                <table cellpadding = "15" border="0" >
                    <tr>
                        <td valign = "top">
                            <a href="/initiateSessionView" target="mw">Initiate Locker Session</a>
                        </td>
                        <td>
                            <iframe src="" name = 'mw' frameborder="0" height = "680" width = "1200"></iframe>
                        </td>
                    </tr>
                </table>
            </center>
        </form>
    </body>
</html>