<html>
    <form action="/logincheck">
        <center>
            <h1><font color = "blue">Employee Login</font></h1><br><br>
            <table cellpadding = "20">
                <tr>
                    <td><h3>Email: </h3></td>
                    <td><input type="email" name = 'email'></td>
                </tr>
                <tr>
                    <td><h3>Password: </h3></td>
                    <td><input type="password" name = 'password'></td>
                </tr>
            </table><br>
            <input type="submit" name = 'login' value = "eLogin">
            <br><br><br><br>
            <h2><font color = "red">{{login}}</font></h2>
        </center>
    </form>
</html>