<html>
    <head>
        <title>Employee Portal</title>
    </head>

    <body>
        <form action="/choice">
            <center>
                <h1><font>Welcome to Employee Portal</font></h1><br>
                <h3><font>Login</font></h3><br>
                <input type="submit" value="employeeLogin" name = 'goto'><br><br><br>
                <h3><font>Register</font></h3><br>
                <input type="submit" value="employeeRegister" name = 'goto'><br><br><br>
            </center>
        </form>
    </body>
</html>