<script src = "/static/Remote.js" ></script>
<html>
    <form action="/connect">
        <center>
            
        <table border = "5" height = "700" width = "350" cellpadding = "0" cellspacing = "5">
            <caption><input size="60" type="text" id = "txt" onkeyup="call(); cellHighlight();"></caption> <span id = "result"></span>
            <div>
                <tr>
                    <td align="center" id = "seven"><h1>7</h1></td>
                    <td align="center" id = "eight"><h1>8</h1></td>
                    <td align="center" id = "nine"><h1>9</h1></td>
                </tr>
                <tr>
                    <td align="center" id = "four"><h1>4</h1></td>
                    <td align="center" id = "five"><h1>5</h1></td>
                    <td align="center" id = "six"><h1>6</h1></td>
                </tr>
                <tr>
                    <td align="center" id = "one"><h1>1</h1></td>
                    <td align="center" id = "two"><h1>2</h1></td>
                    <td align="center" id = "three"><h1>3</h1></td>
                </tr>
                <tr>
                    <td align="center"><h1></h1></td>
                    <td align="center" id = "zero"><h1>0</h1></td>
                    <td align="center"><h1></h1></td>
                </tr>
            </div>
            </table>
            <input type="submit">
        </center>
    </form>
</html>