{% extends "search.html" %}

{% block output %}
    <table cellpadding = "15" border = "2">
        <caption><h2>Record</h2></caption>
        <tr>
            <td>Account Number: </td>
            <td>{{s_accno}}</td>
        </tr>
        <tr>
            <td>Name: </td>
            <td>{{s_fn}} {{s_ln}}</td>
        </tr>
        <tr>
            <td>Date of Birth: </td>
            <td>{{s_dob}}</td>
        </tr>
        <tr>
            <td>Gender: </td>
            <td>{{s_gen}}</td>
        </tr>
        <tr>
            <td>Mobile No: </td>
            <td>{{s_mob}}</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>{{s_email}}</td>
        </tr>
        <tr>
            <td>Assign Date: </td>
            <td>{{s_assignDate}}</td>
        </tr>
        <tr>
            <td>Valid Till: </td>
            <td>{{s_valid}}</td>
        </tr>
        <tr>
            <td>Status: </td>
            <td>{{s_status}}</td>
        </tr>
    </table>
{% endblock %}