<html>
    <form action="/rCode">
        <div>
            Choose Language: 
            <select name="language" id="language">
                    <option value="4">C</option>
                    <option value="10">C++</option>
                    <option value="26">Java</option>
                    <option value="29">Javascript</option>
                    <option value="34">Python</option>
            </select>
            <div align = "right">
                <b>QUESTION</b>
            </div>
        </div>
        <br>
        <div>
            <textarea name="code" id="code" cols="100" rows="30"></textarea>
        </div>
        <br>
        <input type="submit" name = "subcode">
        <br><br>
        <div>
            <b>OUTPUT</b>
        </div>
    </form>
</html>