<html>
    <center>
    <form action="/connect">
 <table border='1' width='80%' cellpadding='10' cellspacing='10'>
     
         <th>
             <img src='/static/fan1.jpg' width='100' height='150'><br><br>
             <button value = 'fanOn' name = 'btn'>ON</button> <button value = 'fanOff' name = 'btn'>OFF</button>
         </th>
      

     
            <th>
                <img src='/static/ac2.jpg' width='100' height='150'><br><br>
                <button value = 'acOn' name = 'btn'>ON</button> <button value = 'acOff' name = 'btn'>OFF</button>
   
            </th>
         
                <th>
                    <img src='/static/motor1.jpg' width='100' height='150'><br><br>
                    <button value = 'on' name = 'btn'>ON</button> <button value = 'off' name = 'btn'>OFF</button>
                </th>
            </tr>   
 </table>
</form>
</center>
</html>